interface(`tpi_exec_domtrans',`
    gen_require(`
        type tpi_exec_exec_t, tpi_exec_t;
    ')
    domain_auto_trans($1, tpi_exec_exec_t, tpi_exec_t)
')

interface(`tpi_exec_allow_admin_tools',`
    gen_require(`
        type tpi_exec_t;
        type systemctl_exec_t, dsconf_exec_t, dsctl_exec_t, ns_slapd_exec_t;
    ')
    allow tpi_exec_t systemctl_exec_t:file { read open execute getattr };
    allow tpi_exec_t dsconf_exec_t:file { read open execute getattr };
    allow tpi_exec_t dsctl_exec_t:file  { read open execute getattr };
    allow tpi_exec_t ns_slapd_exec_t:file { read open execute getattr };
')
